

<%= form_for @photo, :url => photos_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :photo %> <br>
  <%= form.text_area "description" %> <br>
  <%= form.submit "submit", :class =>"btn btn-primary" %>
<% end %>





<!-- 列出所有photo依updated_at排序 -->
<div class="wrapper">
  <% @photos.each do |p| %>
    <div class="p">
      <%= image_tag( p.photo(:original) ) %>

      <h3><%= p.description %></h3>
    </div>
  <% end %>
</div>